/flask_session/
*.db
*.sqlite3
__pycache__/
*.py[cod]
*.log
instance/
.coverage
.htmlcov/
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.flaskenv
.Python/
build/
dist/
*.egg-info/
.DS_Store
._*