{% extends 'admin_master.html' %}

{% block menu_links %}
  {{ super() }}
  <li>
    <a href="{{ url_for('dashboard') }}">Back to main site</a>
  </li>
{% endblock %}

{% block head_css %}
  {{ super() }}

  {% if load_editormd %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/editormd.min.css') }}">
  {% endif %}

  {% if load_ace %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
  {% endif %}

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/admin.css') }}"
    type="text/css"
  />

  <script src="{{ url_for('static', filename='js/prettier/standalone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/prettier/html.js') }}"></script>
{% endblock %}

{% block tail_js %}
  {{ super() }}

{% if load_editormd %}
    <script src="{{ url_for('static', filename='editor.md/editormd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editor.md/languages/en.js') }}"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var contentMdElement = document.getElementById('content_md');
        if (contentMdElement) {
          var editorDiv = document.createElement('div');
          editorDiv.id = 'editor';
          contentMdElement.parentNode.insertBefore(editorDiv, contentMdElement);
          editorDiv.appendChild(contentMdElement);

          var editor = editormd("editor", {
            width: "100%",
            height: 640,
            path: "{{ url_for('static', filename='editor.md/lib/') }}",
            markdown: contentMdElement.value,
            saveHTMLToTextarea: true,
            theme: "dark",
            previewTheme: "dark",
            editorTheme: 'pastel-on-dark',
          });
        }
      });
    </script>
  {% endif %}

  <script src="{{ url_for('static', filename='js/page_edit.js') }}"></script>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
