<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    </head>
    <body>
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded p-1">
            <div class="container-fluid">
              <a class="navbar-brand {{'active' if request.path == url_for('blog') else ''}} brand" href="{{ url_for('blog') }}">june's room</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse nav-text" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link px-2" href="{{ url_for('page', title='music') }}">music</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('discog') }}">discography</a>
                            <a class="dropdown-item" href="{{ url_for('page', title='live') }}">live</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ url_for('page', title='dev') }}">dev</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link px-2">other</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('page', title='art') }}">art</a>
                            <a class="dropdown-item" href="{{ url_for('page', title='writing') }}">writing</a>
                            <a class="dropdown-item" href="{{ url_for('page', title='speedruns') }}">speedruns</a>
                            <a class="dropdown-item" style="color:var(--link-color)" href="{{ url_for('page_list') }}">more pages...</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ url_for('about') }}">about</a>
                    </li>

                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if user %}
                    <li class="nav-item px-1">
                        <div class="nav-link">{{ user.username }}</div>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
                    </li>
                {% endif %}
                </ul>
            </div>
          </div>
          </nav>

            <div class="p-3 panel-main">
                {% block content %}{% endblock %}
            </div>

            <footer>
                <div class="text-end pt-2">
                    <span class="text-muted fs-10">© 2023</span>
                </div>
            </footer>

          <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>
