{% extends "base.html" %}

{% block content %}
  <!--<p class="page-title ms-auto p-0 m-0">posts</p>-->
  <div class="d-flex mb-1">
    <form action="{{ url_for('search') }}" method="get" class="d-flex">
      <input
        type="text"
        name="q"
        class="form-control form-control-sm ms-3 bg-dark"
        placeholder="Search"
        style="width: 120px;"
      />
      <button type="submit" class="btn btn-sm ms-1 bg-dark">
        <i class="fa fa-arrow-right"></i>
      </button>
    </form>
    <div class="ms-auto d-flex me-3">
      {% for tag_name in selected_tags %}
        <div class="d-flex m-1">
          <span class="badge" style="cursor: pointer;">#{{ tag_name }}</span>
        </div>
      {% endfor %}
      <div class="dropdown ms-1">
        <div class="panel-a">
          <button
            class="btn btn-primary dropdown-toggle btn-sm fs-7 pe-1"
            type="button"
            id="tagDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filter
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            id="tag-select"
            aria-labelledby="tagDropdown"
          >
            {% for tag in tags %}
              {% if tag.name %}
                <li>
                  <a class="dropdown-item fs-7" id="{{ tag.name }}">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="{{ tag.name }}"
                      {% if tag.name in selected_tags %}checked{% endif %}
                    />
                    <label class="form-check-label">#{{ tag.name }}</label>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.querySelectorAll(".dropdown-item").forEach((item) => {
      item.addEventListener("click", function () {
        let selectedTags = window.location.href.split("=")[1]
          ? window.location.href.split("=")[1].split(",")
          : [];
        if (selectedTags.includes(this.id)) {
          selectedTags = selectedTags.filter((tag) => tag !== this.id);
        } else {
          selectedTags.push(this.id);
        }
        window.location.href = `?tags=${selectedTags.join(",")}`;
      });
    });

    function filterPostsByTags() {
      let selectedTags = Array.from(
        document.querySelectorAll("#tag-select input:checked"),
      ).map((input) => input.value);
      window.location.href = `?tags=${selectedTags.join(",")}`;
    }
  </script>

  <script>
    document.querySelectorAll(".badge").forEach((badge) => {
      badge.addEventListener("click", function () {
        let selectedTags = window.location.href.split("=")[1]
          ? window.location.href.split("=")[1].split(",")
          : [];
        selectedTags = selectedTags.filter(
          (tag) => tag !== this.textContent.slice(1),
        ); // slice(1) to remove the '#' from the badge text
        window.location.href = `?tags=${selectedTags.join(",")}`;
      });
    });
  </script>

  {% if pagination.items %}
    <div class="row ps-2 pe-2">
      {% for post in pagination.items %}
        {% include 'item_post.html' %}
      {% endfor %}
    </div>
  {% else %}
    <p class="p-4">No posts found.</p>
  {% endif %}

  <!--<hr />-->

  {% if pagination %}
    <nav aria-label="Page navigation">
      <ul class="pagination mt-3">
        {% if pagination.has_prev %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ pagination.prev_num }}"
              aria-label="Previous"
            >
              <span aria-hidden="true"><</span>
            </a>
          </li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
          <li
            class="page-item {% if page == pagination.page %}active{% endif %}"
          >
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}
        {% if pagination.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ pagination.next_num }}"
              aria-label="Next"
            >
              <span aria-hidden="true">></span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
