{% extends "base.html" %}

{% block content %}
<div class="d-flex mb-2">
    {% if check_if_admin() %}
    <div class="ps-1">
        <a class="btn btn-primary btn-sm" href="{{ url_for('manage_post') }}">Add</a>
    </div>
    {% endif %}

    <div class="ms-auto d-flex">
        <div class="dropdown ps-1">
          <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="tagDropdown" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
          <ul class="dropdown-menu dropdown-menu-end" id="tag-select" aria-labelledby="tagDropdown">
            {% for tag in tags %}
              <li>
                <a class="dropdown-item" id="{{tag.name}}">
                    <input class="form-check-input" type="checkbox" value="{{tag.name}}" {% if tag.name in selected_tags %}checked{% endif %}>
                    <label class="form-check-label">#{{tag.name}}</label>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>

</div>

<script>
document.querySelectorAll('.dropdown-item').forEach(item => {
  item.addEventListener('click', function() {
    let selectedTags = window.location.href.split('=')[1] ? window.location.href.split('=')[1].split(',') : [];
    if (selectedTags.includes(this.id)) {
      selectedTags = selectedTags.filter(tag => tag !== this.id);
    } else {
      selectedTags.push(this.id);
    }
    window.location.href = `?tags=${selectedTags.join(',')}`;
  });
});

function filterPostsByTags() {
    let selectedTags = Array.from(document.querySelectorAll('#tag-select input:checked')).map(input => input.value);
    window.location.href = `?tags=${selectedTags.join(',')}`;
}
</script>

<!--<div class="bg-darker p-3 rounded mt-1">-->
    {% if posts %}
        <div class="row ps-2 pe-2">
            {% for post in posts %}
                {% include 'item_post.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p>No posts found.</p>
    {% endif %}
<!--</div>-->

{% endblock %}
