{% extends "base.html" %}

{% block content %}

<p class="page-title">contact</p>

<div class="panel-a p-3 rounded mt-4">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSfDX3kL1FoziJ4OEYG4LNnsszTyYgCctornBtNjWYFulsKwtA/formResponse" target="_blank">
        <input type="text" class="form-control" name="entry.251447205" placeholder="Email" required>
        <textarea rows="8" class="form-control mt-2" name="entry.261398787" placeholder="Message" required></textarea>
        <input type="submit" class="btn mt-2" name="submit" value="Submit">
    </form>
</div>

{% endblock %}