{% extends "base.html" %}

{% block title %}{{ super() }} - dashboard{% endblock %}

{% block content %}
  <p class="page-title">user dashboard</p>

  <div class="d-flex justify-content-end">
    <a
      class="btn btn-sm me-2"
      href="{{ url_for('view_user', username=current_user.username) }}"
      >View User Page</a
    >
    {% if current_user.is_admin %}
      <a class="btn btn-sm" href="{{ url_for('admin.index') }}" target="_blank"
        >Admin Portal</a
      >
    {% endif %}
  </div>

  <div class="panel-a p-4 rounded mt-3">
    <p>
      Username: <span class="author">{{ current_user.username.upper() }}</span>
    </p>
    <p>
      Email:
      <span class="author">{{ current_user.email.lower() }}</span>
      ({%- if current_user.confirmed -%}
        <span style="color: green;">Confirmed</span>
      {%- else -%}
          <a title="Resend Confirmation Email"
            href="{{ url_for('resend_confirmation_email') }}"
            class="link"
            style="color: crimson !important;"
            >Unconfirmed</a
          >
      {%- endif -%})
    </p>
    {% if current_user.profile_picture %}
      <img src="{{ current_user.profile_picture }}" class="pfp mt-3" />
    {% endif %}
  </div>

  <div class="panel-a p-3 rounded mt-3">
    <form method="POST">
      <input
        type="text"
        id="username"
        name="username"
        class="form-control mb-3"
        placeholder="{{ 'New' if current_user.username else 'Set' }} Username"
      />
      <input
        type="password"
        id="password"
        name="password"
        class="form-control mb-3"
        placeholder="{{ 'New' if current_user.password else 'Set' }} Password"
      />
      <input
        type="text"
        id="email"
        name="email"
        class="form-control mb-3"
        placeholder="{{ 'New' if current_user.email else 'Set' }} Email"
      />
      <input
        type="url"
        id="profile_picture"
        name="profile_picture"
        class="form-control mb-3"
        placeholder="{{ 'New' if current_user.profile_picture else 'Set' }} Avatar (URL)"
      />
      <input type="submit" value="Save" class="btn btn-primary" />
    </form>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <p class="mt-3">{{ message }}</p>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
