{% extends "base.html" %}
{% block title %}{{ super() }} - edit comment{% endblock %}
{% block content %}
  <div class="panel-a rounded p-3" style="font-size:0.8em;">
    <p class="sub-title mb-3">Edit comment...</p>
    <form
      method="POST"
      action="{{ url_for('submit_edited_comment', comment_id=comment.id) }}"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="post_id" value="{{ comment.post.id }}" />
      <textarea
        id="content-box"
        name="content"
        class="form-control mb-2 resize-by-scroll"
        placeholder="Edit your comment..."
      >
{{ comment.content }}</textarea
      >
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button
          type="button"
          id="toggle-emote-legend"
          class="btn btn-secondary"
        >
          Emotes
        </button>
      </div>
    </form>
  </div>
  <div id="emote-legend-container">
    <div id="emote-legend" class="p-2"></div>
  </div>
{% endblock %}
