<div class="col-md-3 mb-3">
  <div class="rounded border-0">
    <a href="{{ url_for('view_album', album_id=album.id) }}">
      <img
        src="{{ album.cover_image }}"
        alt="{{ album.title }}"
        class="card-img-top"
        style="border-radius:.25rem;"
      />
    </a>
    <div class="p-2" style="background-color:transparent;">
      <a href="{{ url_for('view_album', album_id=album.id) }}" class="mb-1">{{ album.title }}</a>
      <p class="small text-muted">{{ album.artist }}</p>
    </div>
  </div>
</div>
