{% extends "base.html" %}

{% block title %}{{ super() }} - login{% endblock %}

{% block content %}
  <p class="page-title">login</p>

  <div class="panel-a p-3 rounded mt-4">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input
        type="text"
        name="username"
        class="form-control mb-3"
        placeholder="Username"
      />
      <input
        type="password"
        name="password"
        class="form-control mb-3"
        placeholder="Password"
      />
      <input
        type="email"
        name="email"
        class="form-control mb-3"
        placeholder="Email (not required)"
      />
      <input
        type="submit"
        name="submit"
        value="Login"
        class="btn btn-primary"
      />
      <input
        type="submit"
        name="submit"
        value="Register"
        class="btn btn-primary"
      />
    </form>
  </div>

  {% include '_flash_messages.html' %}
{% endblock %}
