{% extends "manage.html" %}

{% block fields %}
    <label for="title" class="mt-2">Title: </label>
    {{ form.title(id="title", class="form-control mb-1") }}

    <label for="editor" class="mt-2">Content: </label>
    {{ form.content(id="editor", class="form-control") }}
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor' );
    </script>

    <label for="tag" class="mt-3">Tags (,): </label>
    {{ form.tag(id="tag", class="form-control mb-1") }}

    <label for="date_created" class="mt-2">Written (Date): </label>
    {{ form.date_created(id="date_created", class="form-control mb-1") }}
{% endblock %}

{% set item_id = post.id if post else None %}
{% set item_type = 'post' %}