{% extends "base.html" %}

{% block content %}

<p class="page-title">speedruns</p>

<div class="panel-a p-3 rounded mt-4">
    <p class="sub-title mb-1">Related Posts</p>
    {% if posts %}
        <div class="row ps-2 pe-2">
            {% for post in posts %}
                {% include 'item_post.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p>No posts found.</p>
    {% endif %}
    <a class="btn btn-secondary btn-sm mt-3" href="{{ url_for('blog', tags='speedrun') }}">View all #speedrun posts</a>
</div>

{% endblock %}
