{% extends "base.html" %}

{% block title %}{{ super() }} - subscribe{% endblock %}

{% block content %}
  <p class="page-title">subscribe</p>

  <div class="panel-a p-3 rounded mt-4">
    <form method="post" action="{{ url_for('subscribe') }}">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Email"
        required
      />
      <div class="d-flex justify-content-start mt-2">
        <input
          type="submit"
          class="btn btn-sm btn-subscribe me-1"
          name="subscribe"
          value="Subscribe"
        />
        <input
          type="submit"
          class="btn btn-sm btn-unsubscribe me-1"
          name="unsubscribe"
          value="Unsubscribe"
        />
      </div>
    </form>
  </div>

  {% include '_flash_messages.html' %}
{% endblock %}
