{% extends "base.html" %}

{% block title %}{{ super() }} - user: {{ user.username }}{% endblock %}

{% block content %}
  <p class="page-title">user page</p>

  <div class="panel-a p-4 rounded">
    <p class="pb-1">
      Nickname:
      <span class="author"
        >{{ user.nickname.upper() }}</span
      >
    </p>
    <p class="pt-1 pb-1">
      Username:
      <span class="author">{{ user.username.upper() }}</span>
    </p>
    <p class="pb-1 pt-1">
      Role:
      {% if user.is_admin %}
        <span class="author">ADMIN</span>
      {% else %}
        <span class="author">USER</span>
      {% endif %}
    </p>
    {% if user.profile_picture %}
      <img src="{{ user.profile_picture }}" class="pfp mt-3" />
    {% endif %}
  </div>
{% endblock %}
