{% extends "base.html" %}

{% block title %}{{ super() }} - user: {{ user.username }}{% endblock %}

{% block content %}
  <p class="page-title">user page</p>

  <div class="panel-a p-4 rounded">
    <table class="user-details-table">
      <tr>
        <td class="padding-cell">Nickname:</td>
        <td class="padding-cell">
          <span class="author">{{ user.nickname.upper() }}</span>
        </td>
      </tr>
      <tr>
        <td class="padding-cell">Username:</td>
        <td class="padding-cell">
          <span class="author">{{ user.username.upper() }}</span>
        </td>
      </tr>
      <tr>
        <td class="padding-cell">Role:</td>
        <td class="padding-cell">
          <span class="author"
            >{{ get_role_nick(user.role.name).upper() }}</span
          >
        </td>
      </tr>
      {% if user.profile_picture %}
        <tr>
          <td>Avatar:</td>
          <td colspan="2">
            <img src="{{ user.profile_picture }}" class="pfp" />
          </td>
        </tr>
      {% endif %}
      {% if user.about %}
        <tr>
          <td>About:</td>
          <td class="padding-cell">{{ user.about }}</td>
        </tr>
      {% endif %}
    </table>
  </div>
{% endblock %}
