{% extends "base.html" %}

{% block title %}{{ super() }} - {{ post.title }}{% endblock %}

{% block content %}
  <div class="pt-2">
    <div class="panel-a p-4 rounded">
      <p class="post-title mt-0">{{ post.title }}</p>
      <p>{{ post.content|emotize|safe }}</p>
    </div>

    <div class="info d-flex justify-content-between p-3">
      <div class="text-left">
        <p class="text-muted upper">
          posted by
          <a
            class="author"
            href="{{ url_for('view_user', username=post.author.username) }}"
            title="Username: {{ post.author.username.upper() }}"
            >{{ post.author.nickname }}</a
          >
        </p>
        <p class="mt-1 text-muted upper">
          originally written
          {{ post.date_created.strftime('%d-%m-%Y') if post.date_created else 'on an unspecified date' }}
        </p>
      </div>
      <div class="text-end">
        {% for tag in post.tags %}
          {% if tag.name %}
            <a
              href="{{ url_for('blog', tags=tag.name) }}"
              class="text-end d-inline-block ms-1"
              >#{{ tag.name }}</a
            >
          {% endif %}
          {% if not loop.last %}
          {% endif %}
        {% endfor %}

        <p class="mt-1 text-muted upper">
          posted
          {{ post.date_posted.strftime('%d-%m-%Y at %H:%M') if post.date_posted else '' }}
        </p>

        {% if post.date_posted.replace(second=0, microsecond=0) != post.date_updated.replace(second=0, microsecond=0) %}
          <p class="text-muted upper">
            updated
            {{ post.date_updated.strftime('%d-%m-%Y at %H:%M') if post.date_updated else '' }}
          </p>
        {% endif %}
      </div>
    </div>
    {% if current_user.is_admin %}
      <div class="admin-btn-container">
        <a
          class="btn btn-sm admin-btn"
          href="/admin/post/edit/?id={{ post.id|string }}"
          >Edit</a
        >
      </div>
    {% endif %}

    {% if post.comments_enabled %}
      <div class="panel-a rounded p-3 mt-5" style="font-size:0.9em;">
        <p class="post-title mt-0" style="font-size:1.6em;">comments</p>
        {% for comment in post.comments %}
          <div class="comment panel-b p-2 ps-4 mb-2 rounded text-muted">
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="me-2 mt-1">
                  {% if comment.author.profile_picture %}
                    <a
                      href="{{ url_for('view_user', username=comment.author.username) }}"
                    >
                      <img
                        src="{{ comment.author.profile_picture }}"
                        class="pfp-comment"
                      />
                    </a>
                  {% else %}
                    <a
                      href="{{ url_for('view_user', username=comment.author.username) }}"
                    >
                      <svg
                        class="pfp-comment"
                        style="border:none;"
                        width="30"
                        height="30"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          width="100%"
                          height="100%"
                          fill="transparent"
                        ></rect>
                      </svg>
                    </a>
                  {% endif %}
                </div>

                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <span class="mb-2 info upper">
                        {{ comment.date_posted.strftime('%d-%m-%Y at %H:%M') }}{% if comment.author.username %}
                          (<a
                            class="author"
                            href="{{ url_for('view_user', username=comment.author.username) }}"
                            title="Username: {{ comment.author.username.upper() }}"
                          >
                            {{- comment.author.nickname -}} </a
                          >)
                          <a
                            title="Reply"
                            href="javascript:void(0);"
                            class="add-username"
                            data-username="{{ comment.author.username.upper() }}"
                            >⤵</a
                          >
                        {%- endif -%}
                      </span>
                    </div>
                  </div>
                  <p>
                    {{ comment.content|emotize|replace('\n', '<br>')|safe }}
                  </p>
                </div>
              </div>

              <div>
                <div class="d-flex align-items-start">
                  {% if current_user.is_authenticated and current_user.id == comment.author.id %}
                    <form
                      action="{{ url_for('edit_comment', comment_id=comment.id) }}"
                      method="GET"
                      style="display:inline-block;"
                    >
                      <button
                        type="submit"
                        class="btn btn-primary btn-xsm subscribe pt-0 pe-2"
                      >
                        Edit
                      </button>
                    </form>
                    <form
                      action="{{ url_for('delete_comment', comment_id=comment.id) }}"
                      method="POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-danger btn-xsm danger pt-0 pe-2"
                      >
                        Delete
                      </button>
                    </form>
                  {% endif %}
                  {% if current_user.is_admin and current_user.id != comment.author.id %}
                    <div class="admin-btn-container">
                      <a
                        class="btn btn-sm admin-btn"
                        href="/admin/comment/edit/?id={{ comment.id|string }}"
                        >Edit</a
                      >
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="pt-3">
          <form
            method="POST"
            action="{{ url_for('submit_comment') }}"
            class="mb-2"
          >
            <input type="hidden" name="post_id" value="{{ post.id }}" />
            <textarea
              id="content-box"
              name="content"
              class="form-control mb-2"
              placeholder="Write a comment..."
            ></textarea>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button
                type="button"
                id="toggle-emote-legend"
                class="btn btn-secondary"
              >
                Emotes
              </button>
            </div>
          </form>
        </div>
        <div id="emote-legend-container">
          <div id="emote-legend" class="p-2"></div>
        </div>
      </div>
    {% endif %}
  </div>
  <script>
    document.querySelectorAll(".add-username").forEach(function (link) {
      link.addEventListener("click", function () {
        var username = this.getAttribute("data-username");
        var contentBox = document.getElementById("content-box");
        contentBox.value += "@" + username + " ";
        contentBox.focus();
      });
    });
  </script>
{% endblock %}
