{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between pt-3" style="font-size:0.85em;">
    <div class="panel-a me-2 p-4 rounded" style="flex: 0 0 65%;">
      <p class="post-title mb-1">{{ album.title }}</p>
      <p>{{ album.artist }} — {{ release_date }}</p>

      {% if album.tracks %}
        <div class="panel-b rounded p-2 mt-3">
          {% for track in album.tracks %}
            <p class="p-1">
              {{ track.track_number }}. {{ track.name }} ({{ track.duration }})
            </p>
          {% endfor %}
        </div>
      {% endif %}

      {% if album.content %}
        <div class="panel-b rounded p-2 mt-3">
          <p>{{ album.content | safe }}</p>
        </div>
      {% endif %}
    </div>

    <div style="flex: 0 0 35%;">
      <a href="{{ album.cover_image }}" target="_blank"
        ><img
          src="{{ album.cover_image }}"
          alt="{{ album.title }}"
          class="card-img-top"
      /></a>
      <div class="panel-a rounded mt-2 p-2">
        <p>{{ album.embed | safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}
