@import url("https://fonts.googleapis.com/css?family=Inter");

@font-face {
  font-family: "CustomFont";
  src: url("/static/fonts/PerfectDOSVGA437.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlternateFont';
  src: url('https://fonts.googleapis.com/css?family=Inter');
}

/* Variables */
:root {
  --bg-color-a: #080808;
  --bg-color-b: #111111;
  --text-color: #909090;
}

textarea.monospace {
  font-family: monospace;
}
