@import url('https://fonts.googleapis.com/css?family=Inter');

/* Variables */
:root {
    --bg-color: #212529;
    --panel-color: #111415;
    --text-color: #c3c3c3;
    --border-color: #868686;
    --border-color-sub: #666666;
    --panel-color-a: #0b0c0d;
    --panel-color-b: #090a0b;
    --border-radius: 25px;
    --border-radius-main: 50px;
    --border-radius-item: 15px;
    --border-size-main: 7px;
    --border-size-a: 2px;
    --border-size-b: 1px;
    --font-size-sub: 12px;
    --font-size-list: 13px;
    --font-size-title: 30px;
    --font-size-subtitle: 18px;
    --link-color: #ff78a1;
    --link-color-hover: #FF69B4;
    --nav-color-hover: #7e3b4f;
    --miniature-height: 150px;
    --card-body-height: 200px;
    --miniature-font-size: 0.65em;
    --subscribe-hover: #ff8000;
    --unsubscribe-hover: #ff3838;
    --donate-hover: #50da3b;
    --contact-hover: #0ab1ff;
    --danger-hover: red;
}



/* Typography */
.brand,
.nav-text,
body {
    font-family: 'Inter', fallback, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.info {
    font-size: var(--font-size-sub);
}

.subscribe:hover {
    color: var(--subscribe-hover) !important;
}

.btn-subscribe:hover {
    background-color: var(--subscribe-hover) !important;
    color: white !important;
}

.unsubscribe:hover {
    color: var(--unsubscribe-hover) !important;
}

.btn-unsubscribe:hover {
    /*background-color: var(--unsubscribe-hover) !important;*/
    color: white !important;
}

.donate:hover {
    color: var(--donate-hover) !important;
}

.contact:hover {
    color: var(--link-color-hover) !important;
}

.danger:hover {
    color: var(--danger-hover) !important;
}

.btn-xsm, .btn-xsm:hover {
    font-size: var(--miniature-font-size) !important;
    padding: 0.25em;
    border: 0;
    background-color: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p,
ul {
    color: var(--text-color) !important;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

a,
.author {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
}

.page-title,
.post-title {
    font-size: var(--font-size-title);
    padding-top: .25rem;
    margin-bottom: 1.5rem;
}

.page-title {
    text-align: center;
}

.post-title,
.sub-title {
    text-align: left;
}

.sub-title {
    font-size: var(--font-size-subtitle);
}

ul {
    padding-left: 20px;
}

.fs-10 {
    font-size: 10px;
}

.fs-9 {
    font-size: 11px;
}

.fs-8 {
    font-size: 12px;
}

.fs-7 {
    font-size: 13px;
}



/* Layout */
.container {
    padding: 15px;
    max-width: 960px;
    /*margin-left: 18%;*/
    margin: auto;
}

.panel-main {
    background-color: var(--panel-color);
    border-radius: var(--border-radius-main) !important;
    border: var(--border-size-main) solid var(--border-color);
    color: var(--textcolor) !important;
}

.panel-a {
    background-color: var(--panel-color-a);
    border-radius: var(--border-radius) !important;
    border: var(--border-size-a) solid var(--border-color-sub);
}

.panel-b {
    background-color: var(--panel-color-b);
    border-radius: var(--border-radius) !important;
    border: var(--border-size-b) solid var(--border-color-sub);
}

td {
    padding: 5px;
}



/* Components */
/* --- navbar --- */
.navbar.bg-dark {
    background-color: transparent !important;
}

.navbar.rounded {
    border-radius: var(--border-radius) !important;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    display: inline;
}

.nav-link {
    text-decoration: none;
    margin: 0px 2px;
    border-radius: var(--border-radius);
    transition: background-color 0.4s ease;
}

.nav-link:hover,
.nav-link:active {
    background-color: var(--nav-color-hover);
    color: white;
}

/* --- cards --- */
.card {
    display: flex;
    height: 100%;
    max-height: none;
}

.card-body {
    max-height: var(--card-body-height);
}

.card-footer {
    border: none;
    border-radius: var(--border-radius) !important;
}

.miniature-view {
    max-width: 100%;
    min-height: var(--miniature-height);
    max-height: var(--miniature-height);
    font-size: var(--miniature-font-size);
    overflow: hidden;
}

.miniature-view img {
    width: 50% !important;
    height: 50% !important;
}

/* --- buttons --- */
.btn,
.dropdown-menu {
    border-color: var(--border-color-sub) !important;
    border-radius: var(--border-radius) !important;
}

.btn {
    background-color: transparent;
}

.dropdown-menu {
    background-color: var(--panel-color-a);
}

.dropdown-item {
    border-radius: var(--border-radius-item) !important;
}

.btn:active,
.btn:focus,
.btn:hover,
.btn:active:focus,
.btn-primary.show,
.btn-primary:focus.show,
.btn-primary:active.show,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--nav-color-hover);
    color: white;
}

/* --- badges --- */
.badge,
.bg-primary {
    border-color: var(--border-color-sub) !important;
    border-radius: var(--border-radius) !important;
    background-color: var(--nav-color-hover) !important;
}



/* Media Queries */
@media (min-width: 992px) {
    .navbar-hover .dropdown:hover .dropdown-menu {
        display: block;
    }
}
