{% extends "base.html" %}

{% block content %}

{% if check_if_admin() %}
    <div class="pb-3">
        <a class="btn btn-primary btn-sm" href="{{ url_for('manage_post') }}">Add</a>
    </div>
{% endif %}

    <!--<h3 class="text-center p-3">blog</h3>-->
    {% if posts %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6 col-lg-6">
                    <div class="card bg-secondary text-white mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a>
                            </h5>
                            <p class="card-text">{{ post.content[:100] | safe }}...</p>
                        </div>
                        <div class="card-footer text-muted">
                            <p>{{ post.date.strftime('%d-%m-%Y - %H:%M') if post.date else '' }}</p>
                            <p>{{ post.author }} - #{{ post.tag }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No blog posts found.</p>
    {% endif %}

{% endblock %}
