{% extends "base.html" %}

{% block content %}

<h3 class="text-center pb-4">blog</h3>

{% if check_if_admin() %}
    <a class="btn btn-primary" href="{{ url_for('manage_post') }}">Add</a>
{% endif %}

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog posts found.</p>
    {% endif %}
{% endblock %}
