{% extends "manage.html" %}

{% block fields %}
    <input type="text" class="form-control mb-3" name="title" placeholder="Title" value="{{ album.title if album else '' }}">
    <input type="text" class="form-control mb-3" name="artist" placeholder="Artist" value="{{ album.artist if album else '' }}">
    <input type="text" class="form-control mb-3" name="release_date" placeholder="Release Date" value="{{ album.release_date if album else '' }}">
    <input type="text" class="form-control mb-3" name="cover_image" placeholder="Cover Image" value="{{ album.cover_image if album else '' }}">

    <!-- Tracks section -->
    <div id="tracks-section">
        {% for track in album.tracks if album %}
        <div class="card mb-3 track-card">
            <div class="card-body">
                <input type="hidden" name="tracks" value="{{ track|todict|tojson|safe if track else '{}' }}">
                <input type="text" class="form-control mb-3" name="tracks[][name]" placeholder="Track Name" value="{{ track.name }}">
                <input type="text" class="form-control mb-3" name="tracks[][duration]" placeholder="Track Duration" value="{{ track.duration }}">
            </div>
        </div>
        {% else %}
        <div class="card mb-3 track-card">
            <div class="card-body">
                <input type="hidden" name="tracks[][id]">
                <input type="text" class="form-control mb-3" name="tracks[][name]" placeholder="Track Name">
                <input type="text" class="form-control mb-3" name="tracks[][duration]" placeholder="Track Duration">
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Add and Delete buttons -->
    <button type="button" class="btn btn-success mb-3" id="add-track-btn">Add Track</button>
    <button type="button" class="btn btn-danger mb-3" id="delete-track-btn">Delete Track</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('add-track-btn').onclick = function() {
            var tracksSection = document.getElementById('tracks-section');
            var trackCards = tracksSection.getElementsByClassName('track-card');
            var newTrackCard = trackCards[0].cloneNode(true);  // clone the first card

            // clear the fields in the cloned card
            var inputs = newTrackCard.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].value = '';
            }

            // serialize new track data to a JSON string
            inputs[0].value = JSON.stringify({name: '', duration: ''});

            tracksSection.appendChild(newTrackCard);  // add the cloned card to the end
        };

        document.getElementById('delete-track-btn').onclick = function() {
            var tracksSection = document.getElementById('tracks-section');
            var trackCards = tracksSection.getElementsByClassName('track-card');
            if (trackCards.length > 1) {  // don't delete the last card
                tracksSection.removeChild(trackCards[trackCards.length - 1]);  // remove the last card
            }
        };
    });
    </script>


{% endblock %}

{% set item_id = album.id %}
{% set item_type = 'album' %}