{% extends "base.html" %}

{% block content %}

{% if check_if_admin() %}
    <div class="pb-3">
      <a class="btn btn-primary btn-sm" href="{{ url_for('manage_album') }}">Add</a>
    </div>
{% endif %}

  <!--<h3 class="text-center pb-4">discography</h3>-->

  <div class="row">
  {% for album in albums|reverse %}
    <div class="col-md-3 mb-3">
      <div class="card bg-dark text-white border-0">
        <a href="{{ url_for('view_album', album_id=album.id) }}">
          <img src="{{ album.cover_image }}" alt="{{ album.title }}" class="card-img-top">
        </a>
        <div class="card-body p-2">
          <span class="card-title mb-1">{{ album.title }}</span>
          <p class="card-text small text-muted">{{ album.artist }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
