{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between">
    <a class="btn btn-primary btn-sm" href="javascript:goBack()">Back</a>
    {% if check_if_admin() %}
        <a class="btn btn-primary btn-sm" href="{{ url_for('manage_album', album_id=album.id) }}">Edit</a>
    {% endif %}
</div>

<div class="d-flex justify-content-between mt-3 p-4">
    <div class="card text-white mr-2" style="flex: 0 0 65%;">
        <div class="card-body">
            <h1 class="card-title display-5">{{ album.title }}</h1>
            <p class="card-text">{{ album.artist }} — {{ release_date }}</p>
            <ul class="list-group list-group-flush mt-3">
                {% for track in album.tracks %}
                    <li class="list-group-item">{{ track.id }}. {{ track.name }} ({{ track.duration }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="text-white" style="flex: 0 0 35%;">
        <a href="{{ album.cover_image }}"><img src="{{ album.cover_image }}" alt="{{ album.title }}" class="card-img-top"></a>
    </div>
</div>


{% endblock %}