{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between">
    <a class="btn btn-primary btn-sm" href="javascript:goBack()">Back</a>
    {% if check_if_admin() %}
        <a class="btn btn-primary btn-sm" href="{{ url_for('manage_post', post_id=post.id) }}">Edit</a>
    {% endif %}
</div>

<div class="pt-3">
    <div class="info d-flex justify-content-between mb-3">
        <div class="text-left">
            <p>{{ post.author }} - {% for tag in post.tags %} {{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
        </div>
        <div class="text-right">
            <p>posted on {{ post.date_posted.strftime('%d-%m-%Y at %H:%M') if post.date_posted else '' }}</p>
            {% if post.date_posted.replace(second=0, microsecond=0) != post.date_updated.replace(second=0, microsecond=0) %}
                <p>updated on {{ post.date_updated.strftime('%d-%m-%Y at %H:%M') if post.date_updated else '' }}</p>
            {% endif %}
        </div>
    </div>

    <div class="card text-white p-4">
        <h1 class="pt-1">{{ post.title }}</h1>
        <p>{{ post.content | safe }}</p>
    </div>


    <p class="info text-end pt-3">originally written on {{ post.date_created.strftime('%d-%m-%Y') if post.date_created else 'an unspecified date' }}</p>

</div>

{% endblock %}