{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between">
    <a class="btn btn-primary btn-sm" href="javascript:goBack()">Back</a>
    {% if check_if_admin() %}
        <a class="btn btn-primary btn-sm" href="{{ url_for('manage_album', album_id=album.id) }}">Edit</a>
    {% endif %}
</div>

<div class="p-3">
    <h1>{{ album.title }}</h1>
    <p>{{ album.artist }}</p>
    <p>{{ release_date }}</p>
    <img src="{{ album.cover_image }}" alt="{{ album.title }}" class="img-fluid album-img">
    <ul class="p-4">
        {% for track in album.tracks %}
            <li>{{ track.id }}. {{ track.name }} ({{ track.duration }})</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}